@charset "utf-8";
@import url("reset.css");
@import url("../font/font.css");

html {
    font-size: 62.5%;
}

/* 1rem = 10px */

body {
    font-size: 1.8rem;
    color: #333333;
    line-height: 1.5;
}

button {
    padding: 0;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.3;
}

p {
    font-weight: 400;
}

.main_btn-inline {
    font-size: 1.6rem;
    padding: 5px 16px;
    border-radius: 50px;
    border: 1px solid #333333;
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.main_btn-inline:hover {
    background-color: #333333;
    color: white;
    transition: 0.2s;
}

#footer .inner,
.section .inner {
    max-width: 1200px;
    width: 100%;
    width: calc(100% - 80px);
    margin: 0 auto;

    .title_wrap {
        text-align: center;
    }

    .text {
        p {
            text-align: center;
        }
    }
}

/* 공통 요소 */
@mixin imgBox {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* 쓸때 @include imgBox; */
@mixin flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    background-color: #ffffff8f;
    width: 100%;
    position: fixed;
    z-index: 99;

    .inner {
        height: 80px;
        @include flexBox;
        padding: 0 40px;
        position: relative;

        .logo {
            width: 140px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            line-height: 80px;

            img {
                @include imgBox;
            }
        }

        .nav_pc {
            .gnb {
                display: flex;
                gap: 2rem;

                > li {
                    /* position: relative; */
                    .depth01-inline {
                        font-size: 1.6rem;
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        height: 80px;
                    }

                    .depth-02 {
                        min-width: 120px;
                        background-color: #ffffff8f;
                        position: absolute;
                        top: 100%;
                        padding: 0 20px;
                        display: none;

                        li {
                            height: 34px;

                            a {
                                height: 100%;
                                line-height: 34px;
                                font-size: 1.4rem;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .util_pc {
            display: flex;
            align-items: center;

            .usermenu {
                display: flex;
                gap: 6rem;
                margin-right: 4rem;

                li {
                    a {
                        font-size: 1.6rem;
                    }
                }
            }

            .search_box {
                margin-right: 2rem;
                height: 24px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #333333;

                .input_txt {
                    width: 120px;
                    padding: 0;
                    border: none;
                    background: none;
                    outline: none;
                }

                .input_txt:focus-visible {
                    border-color: #3b82f6;
                    /* 예시: 파란 테두리 */
                    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
                }

                .input_txt:focus {
                    outline: none;
                    box-shadow: none;
                }

                .search_btn-inline {
                    cursor: pointer;

                    img {
                        @include imgBox();
                    }
                }
            }

            .icon_menu {
                display: flex;
                gap: 2rem;

                li {
                    width: 24px;
                    height: 24px;

                    .btn_cart {
                        cursor: pointer;

                        img {
                            @include imgBox;
                        }
                    }

                    a {
                        img {
                            @include imgBox;
                        }
                    }
                }
            }
        }

        .mobile {
            display: none;
        }

        .nav_mobile {
            position: fixed;
            top: 60px;
            right: 0;
        }
    }
}

#main {
    .main_visual {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .bg-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            height: 56.25vw; // 16:9 비율 유지용 (100 * 9 / 16)
            min-height: 100vh;
            min-width: 177.78vh; // 반대비율 보정
            pointer-events: none;
            z-index: -1;
        }

        .bg-video.mobile {
            display: none;
        }
        .visual_title {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h2 {
                font-size: 8rem;
                margin-bottom: 0.8rem;
            }
            h3 {
                font-size: 2.4rem;
                font-weight: 300;
            }
        }
    }
}

.section01and02 {
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        .title_wrap {
            h2 {
                margin-bottom: 0.4rem;
            }
        }

        .image_wrap {
            position: relative;

            img {
                position: absolute;
                object-fit: cover;
            }
        }
    }
}

.section01 {
    padding: 10rem 0 5rem;

    .image_wrap {
        width: 100%;
        height: 797px;

        .img_left-inline {
            width: 84%;
            height: 533px;
        }

        .img_right-inline {
            width: 32%;
            height: 530px;
            bottom: 0;
            right: 0;
            border-radius: 200px;
        }
    }
}

.section02 {
    .image_wrap {
        width: 100%;
        height: 959px;

        .img_left-inline {
            width: 44.16%;
            height: 384px;
            bottom: 0;
            border-radius: 200px;
            z-index: 1;
        }

        .img_right-inline {
            width: 49%;
            height: 767px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.section03 {
    padding: 20rem 0 20rem;

    .inner {
        .title_wrap {
            h2 {
                margin-bottom: 4rem;
            }

            .swiper.mySwiper {
                padding-bottom: 20px;

                .swiper-wrapper {
                    .swiper-slide {
                        a {
                            .product_img {
                                height: 282px;
                                border-radius: 10px;
                                overflow: hidden;
                                position: relative;
                                margin-bottom: 1rem;

                                img {
                                    @include imgBox;
                                }

                                .badge_container {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    font-size: 1.2rem;
                                    font-weight: 300;
                                    display: flex;
                                    flex-direction: column;
                                    padding: 1.6rem;

                                    .badge_member-inline,
                                    .badge_vegan-inline {
                                        width: 48px;
                                        height: 48px;
                                        background-color: #cf7185;
                                        color: white;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 50%;
                                        line-height: 1.2;
                                    }

                                    .badge_vegan-inline {
                                        background-color: #7fa06f;
                                    }

                                    .badge_vegan-inline.double {
                                        margin-top: -0.8rem;
                                    }
                                }

                                .btn-cart {
                                    position: absolute;
                                    background-color: #ffffffa1;
                                    bottom: 0;
                                    right: 0;
                                    width: 48px;
                                    height: 48px;
                                    margin: 1.6rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 10px;
                                    cursor: pointer;

                                    img {
                                        width: 24px;
                                        height: 24px;
                                        object-fit: cover;
                                        display: block;
                                    }
                                }
                            }

                            .product_info {
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                gap: 0.5rem;

                                h3 {
                                    font-size: 1.6rem;
                                    text-align: left;
                                }

                                > span {
                                    font-size: 1.4rem;
                                    position: relative;
                                }

                                > span::before {
                                    content: "";
                                    width: 100%;
                                    height: 60%;
                                    bottom: 0;
                                    z-index: -1;
                                    display: block;
                                    position: absolute;
                                    background-color: #f7dde2;
                                }

                                .price {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    gap: 0.5rem;

                                    .discount-inline {
                                        font-weight: 700;
                                        color: #cf7185;
                                    }

                                    strong {
                                        font-weight: 700;
                                    }

                                    del {
                                        font-size: 1.2rem;
                                        color: #888888;
                                    }
                                }
                            }
                        }
                    }
                }

                .swiper-scrollbar {
                }
            }
        }
    }
}

#footer {
    background-color: #f7dde2;
    padding: 40px 0;

    .inner {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        font-weight: 400;

        .footer-left {
            .footer_logo-inline {
                width: 102px;
                height: 16px;
                display: block;
                margin-bottom: 10px;

                img {
                    @include imgBox;
                }
            }

            p {
                font-size: 1.3rem;
            }
        }

        .footer-right {
            display: flex;
            gap: 4rem;

            li {
                .depth-01 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                .depth-02 {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #header .inner {
        height: 60px;
        padding: 0 40px;
        position: relative;

        .logo {
            width: 100px;
            position: static;
            transform: translateX(0);

            line-height: 60px;
        }

        .pc {
            display: none;
        }

        .mobile {
            display: block;
        }

        .nav_mobile {
            display: none;
        }
    }
} /* 분기점 1200px 이하 헤더 스타일 변경 */

@media screen and (min-width: 769px) and (max-width: 1039px) {
    .section01 {
        .image_wrap {
            height: 638px;

            .img_left-inline {
                height: 426px;
            }

            .img_right-inline {
                height: 424px;
                border-radius: 200px;
            }
        }
    }

    .section02 {
        .image_wrap {
            height: 767px;

            .img_left-inline {
                height: 307px;
            }

            .img_right-inline {
                height: 613px;
            }
        }
    }
}

/* 태블릿 사이즈 section 01,02 이미지 레이아웃 변경 */

@media screen and (max-width: 768px) {
    br {
        display: none;
    }
    body {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    .main_btn-inline {
        font-size: 1.2rem;
        padding: 3px 12px;
    }

    #footer .inner,
    .section .inner {
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    #main {
        .main_visual {
            .bg-video.pc {
                display: none;
            }

            .bg-video.mobile {
                display: block;
            }
            .visual_title {
                h2 {
                    font-size: 4rem;
                    margin-bottom: 0.8rem;
                }
                h3 {
                    font-size: 1.6rem;
                }
            }
        }
    }
    #header .inner {
        padding: 0 20px;
    }

    /* 다시쓰기 */
    .section01 {
        padding: 6rem 0;
        .img_right-inline {
            display: none;
        }
    }
    .section01and02 {
        .inner {
            gap: 2rem;
            .image_wrap {
                position: static;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                height: auto;

                img {
                    position: static;
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    top: auto;
                    bottom: auto;
                    left: auto;
                    right: auto;
                    transform: none;
                }
            }
        }
    }
    .section03 {
        padding: 6rem 0 6rem;

        .inner {
            .title_wrap {
                h2 {
                    margin-bottom: 2rem;
                }

                .swiper.mySwiper {
                    /*  padding-bottom: 20px; */
                    .swiper-wrapper {
                        .swiper-slide {
                            a {
                                .product_img {
                                    height: 200px;

                                    .badge_container {
                                        font-size: 1.1rem;
                                        font-weight: 300;
                                        padding: 0.8rem;
                                        gap: 0;

                                        .badge_member-inline,
                                        .badge_vegan-inline {
                                            width: 44px;
                                            height: 44px;
                                        }
                                    }

                                    .btn-cart {
                                        width: 36px;
                                        height: 36px;
                                        margin: 0.8rem;

                                        img {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }

                                .product_info {
                                    gap: 0;

                                    h3 {
                                        font-size: 1.4rem;
                                    }

                                    > span {
                                        font-size: 1.1rem;
                                    }

                                    .price {
                                        gap: 0.3rem;

                                        strong {
                                            font-weight: 700;
                                        }

                                        del {
                                            font-size: 1.1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .swiper-scrollbar {
                    }
                }
            }
        }
    }

    #footer {
        padding: 20px 0;

        .inner {
            width: calc(100% - 40px);
            flex-direction: column;
            justify-content: left;
            font-size: 1.2rem;
            gap: 2rem;

            .footer-left {
                .footer_logo-inline {
                    margin-bottom: 4px;
                }

                p {
                    font-size: 1.2rem;

                    br {
                        display: none;
                    }
                }
            }

            .footer-right {
                flex-direction: column;
                gap: 2rem;

                li {
                    .depth-01 {
                        font-size: 1.4rem;
                        font-weight: 700;
                        margin-bottom: 0.5rem;
                    }

                    .depth-02 {
                        gap: 0;
                    }
                }
            }
        }
    }
}

/* 다시쓰기 */
