@charset "utf-8";
@import url("reset.css");

html {
    font-size: 62.5%;
}

/* 1rem = 10px */

body {
    font-size: 1.8rem;
    color: #333333;
    line-height: 1.5;
}

button {
    padding: 0;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.3;
}

p {
    font-weight: 400;
}
.main_btn-inline {
    font-size: 1.6rem;
    padding: 5px 16px;
    border-radius: 50px;
    border: 1px solid #333333;
    text-align: center;
    display: block;
    line-height: 1.5;
}
.main_btn-inline:hover {
    background-color: #333333;
    color: white;
    transition: 0.2s;
}

.section .inner {
    max-width: 1200px;
    width: 100%;
    /* width: calc(100% - 80px); */
    margin: 0 auto;
    .title_wrap {
        text-align: center;
    }
    .text {
        p {
            text-align: center;
        }
    }
}

/* 공통 요소 */
@mixin imgBox {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
/* 쓸때 @include imgBox; */
@mixin flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header {
    background-color: #ffffff77;
    width: 100%;
    position: fixed;
    .inner {
        height: 80px;
        @include flexBox;
        padding: 0 7.29%;
        position: relative;
        .logo {
            width: 180px;
            height: 29px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            line-height: 80px;
            img {
                @include imgBox;
            }
        }
        .nav {
            .gnb {
                display: flex;
                gap: 2rem;
                
                > li {
                    /* position: relative; */
                    .depth01-inline {
                        font-size: 1.6rem;
                        padding: 0 20px;
                    }
                    .depth-02 {
                        min-width: 120px;
                        background-color: aqua;
                        position: absolute;
                        top: 100%;
                        padding: 0 20px;
                        display: none;
                        li {
                            height: 34px;
                            a {
                                height: 100%;
                                line-height: 34px;
                                font-size: 1.4rem;
                                display: block;
                                
                            }
                        }
                    }
                }
            }
        }
        .util {
            display: flex;
            align-items: center;
            .usermenu {
                display: flex;
                gap: 6rem;
                margin-right: 4rem;
                li {
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
            .search_box {
                margin-right: 2rem;
                height: 24px;
            }
            .icon_menu {
                display: flex;
                gap: 2rem;
                li {
                    width: 24px;
                    height: 24px;
                    .lang {
                        img {
                            @include imgBox;
                        }
                    }
                    a {
                        img {
                            @include imgBox;
                        }
                    }
                }
            }
        }
    }
}

#main {
    .main_visual {
        height: 100vh;
        .inner {
            height: 100%;
            img {
                @include imgBox;
            }
        }
    }
}

.section01and02 {
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        .title_wrap {
            h2 {
                margin-bottom: 0.4rem;
            }
        }
        .image_wrap {
            position: relative;
            img {
                position: absolute;
                object-fit: cover;
            }
        }
    }
}
.section01 {
    padding: 10rem 0 5rem;
    .image_wrap {
        width: 100%;
        height: 797px;
        .img_left-inline {
            width: 84%;
            height: 533px;
        }
        .img_right-inline {
            width: 32%;
            height: 530px;
            bottom: 0;
            right: 0;
            border-radius: 200px;
        }
    }
}
.section02 {
    .image_wrap {
        width: 100%;
        height: 959px;
        .img_left-inline {
            width: 44.16%;
            height: 384px;
            bottom: 0;
            border-radius: 200px;
            z-index: 1;
        }
        .img_right-inline {
            width: 49%;
            height: 767px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.section03 {
    padding: 20rem 0 0;
    .inner {
        .title_wrap {
            h2 {
                margin-bottom: 4rem;
            }
            .swiper.mySwiper {
                .swiper-wrapper {
                    .swiper-slide {
                        width: 23.5%;
                        a {
                            .product_img {
                                height: 282px;
                                margin-bottom: 0.2rem;
                                border-radius: 10px;
                                overflow: hidden;
                                position: relative;
                                padding: 0.2re;
                                margin-bottom: 1rem;
                                img {
                                    @include imgBox;
                                }
                                .badge_container {
                                    .badge_official-inline {
                                    }
                                    .badge_vegan-inline-inline {
                                    }
                                }
                            }
                            .product_info {
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                gap: 0.5rem;
                                h3 {
                                    font-size: 1.6rem;
                                    text-align: left;
                                }
                                > span {
                                    font-size: 1.4rem;
                                }
                                .price {
                                    display: flex;
                                    flex-wrap: wrap;
                                    align-items: center;
                                    gap: 0.5rem;
                                    .discount-inline {
                                        font-weight: 700;
                                    }
                                    strong {
                                        font-weight: 700;
                                    }
                                    del {
                                        font-size: 1.2rem;
                                        color: #888888;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
